name: Release Snap

on:
  release:
    types: [released]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      publish:
        description: "Publish to snap store"
        required: false
        default: "false"
        type: choice
        options:
          - "true"
          - "false"

jobs:
  buildSnap:
    environment: snap
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, arm64]
    steps:
      - uses: actions/checkout@v5
      - uses: snapcore/action-build@v1
        id: build
        env:
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_STORE_CREDENTIALS }}
        with:
          snapcraft-args: "--remote-build --target-arch=${{ matrix.arch }}"
      - uses: actions/upload-artifact@v4
        with:
          name: yq-${{ matrix.arch }}
          path: ${{ steps.build.outputs.snap }}
