name: Release Snap

on:
  release:
    types: [released]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
    buildSnap:
      environment: snap
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v6
        - uses: snapcore/action-build@v1
          id: build
          env:
            SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.STORE_LOGIN }}
          with:
            snapcraft-args: "remote-build --launchpad-accept-public-upload"
        - uses: snapcore/action-publish@v1
          env:
            SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.STORE_LOGIN }}
          with:
            snap: ${{ steps.build.outputs.snap }}
            release: stable
