name: Test Yq Action
on: [push]
permissions:
  contents: read

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Get test
        id: get_value
        uses: mikefarah/yq@action-use-published-docker
        with:
          cmd: yq '.test' examples/multiline-text.yaml
      - name: Multiline test
        run: echo "### It was [${{ steps.get_value.outputs.result }}]" >> $GITHUB_STEP_SUMMARY
      - name: Write inplace test
        id: lookupSdkVersion
        uses: mikefarah/yq@action-use-published-docker
        with:
          cmd: yq -i '.b.c = 5' examples/sample.yaml